:root {
    --color-primary: #3399dd; /* brand color */
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex: 1;
    }
}

header {
    form {
        display: flex;
        justify-content: end;
        align-items: center;

        label {
            flex: 1;
        }
    }
}

ul.search-results-list {
    list-style: none;
    padding: 0;

    > li {
        margin-bottom: 1rem;

        .title {
            a {
                font-size: 1.3em;
            }
        }

        .content {
            margin-left: 1rem;
        }
    }
}

ul.thread-messages-list {
    list-style: none;
    padding: 0;

    article {
        padding-bottom: 3rem;
    }

    .message-body {
        font-family: var(--font-family-mono);
        margin-bottom: 2rem;

        pre {
            background-color: transparent;
            padding: 0;
            white-space: pre-wrap;
        }

        blockquote {
            opacity: 0.8;
            background-color: transparent;
            max-height: 5em;
            overflow: hidden;
            position: relative;

            &.full {
                max-height: none;
                overflow: visible;

                &::after {
                    height: 1em;
                    display: block;
                }
            }

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2.5em;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(235, 235, 235, 0.9));
                cursor: pointer;
            }
        }

        img {
            max-width: 100%;
        }
    }


}
