{% extends isSwap ? "fragment.html.twig" : "base.html.twig" %}

{% block body %}
    <div class="thread-messages">
        {% if messages is empty %}
            <p>No messages available.</p>
        {% else %}
            {% include 'mail/thread_messages.html.twig' with {'messages': messages} %}
        {% endif %}
    </div>
{% endblock %}
